In [13]:
import os
import string
import random
#os.mkdir("python class")
for i in range(1,6):
    file_name="C:\\Users\\Kiran Kumar\\Desktop\\summer intership\\AI and ML\\2-06-2020\\python class\\file%d"%(i)
    f=open(file_name,"a")
    data=" "
    for i in range(512):
        data = data + random.choice(string.ascii_letters)
    f.write(data)
    f.close()

In [14]:
pwd

'C:\\Users\\Kiran Kumar\\Desktop\\summer intership\\AI and ML\\2-06-2020'

In [15]:
list1=list(range(1,11))
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
#create list with even numbers
list1=list(range(1,11))
list2=[i for  i in list1 if i%2==0]

print(list2)

[2, 4, 6, 8, 10]

In [21]:
#list comprehension
list3=[i for i in list1 if i%2==0]
print(list3)

[2, 4, 6, 8, 10]

In [22]:
# input:"hello 12345"
#output:['1','2','3','4','5'],5
string = input("enter a string:")
list4 = [ch for ch in string if ch.isdigit()]
print(list4,len(list4))

enter a string:hello 12345
['1', '2', '3', '4', '5'] 5

In [23]:
list5=list(range(1,11))
list6=list(range(11,21))
print(list5,list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [27]:
result = [list5[i]+list6[i] for i in range(len(list5))]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [28]:
#zip()
result=[x+y for x,y in zip(list5,list6)]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

# anonymus function(lambda functiion)
```lambda arguments:logic```

In [29]:
s=lambda x : x**2

In [30]:
s(12)

144

In [31]:
add = lambda x,y:x+y
add(10,20)

30

# map

In [32]:
list6=list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
result=[i*2 for i in list6]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
result = list(map(lambda i:i*2,list6))

In [37]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [42]:
'10 20 30' .split()

['10', '20', '30']

In [41]:
x,y,z=list(map(int,input().split()))
print(x,y,z)

10 20 30
10 20 30

# filter()

In [44]:
result=[]
for i in list6:
    if i%5==0:
        result.append(i)
result

[5, 10]

In [45]:
list(filter(lambda x:(x%5==0),list6))

[5, 10]

# reduce()

In [46]:
from functools import reduce

In [48]:
list1=[1,2,3,4,5]
m=1
for i in list1:
    m*=i
print(m)

120

In [49]:
reduce(lambda x,y:x*y,list1)

120