headings:

# pythonprogramming
## python programming
### python programming

### list of programming languages:ordered list
1. python
2. java
3. c
4. c++
5. net

### list of programming languages:unordered list
- python
    - corepython
    - advpython
- java
- c
- c++
- .net

- **python programming**
- *python programming*

[click here](https://docs.google.com/document/d/1NUWRUi53uEEP8sUAKZGx4nDbi3ExZf0GUEpE5vi8n34/edit#heading=h.okwl30ba7xhy)

![image]()

<img src="" width=200 height=200>

**python prgramming**
1. is combination of diffferent paradigarams.
2. interpreted pl
3. open source
4. object oriented pl


### guido van rossum

# numeric data types:

1. int
2. float
3. complex

In [ ]:
a = 10 #integer
b = 23.24 #float
c = 12+3j #complex number

print(type(a),type(b),type(c))

In [ ]:
c1 = 4+5j
c2 = complex(6,8)
print(c1+c2)
print(c2.real)
print(c2.imag)

In [ ]:
#input and output function'
#input --> input()
#output --> print()
a = int(input("enter the value of a") )
b = int(input("enter the value of b")) 
print(a+b,end=" ")
print(a-b)
print(a*b)
print(a/b)

In [1]:
a = int(input("enter the value of a") )
b = int(input("enter the value of b")) 
print(a+b,end=" ")
print(a-b,a*b,a/b,sep=",")

enter the value of a10
enter the value of b20
30 -10,200,0.5

In [3]:
#membershhip operators: in,not in
list1 = [12,23,34,45,56,67]
print(12 in list1)
print(120 in list1)
print(12 not in list1)
print(120 not in list1)

True
False
False
True

In [8]:
#conditional statements: if,else,elif
if a < b:
    print("a is less than b")
elif a > b:
    print("a is grerater than b")
else:
    print("a equals to b")

a is less than b

In [12]:
#find the largest of three numbers
a = int(input("enter value of a"))
b = int(input("enter value of b"))
c = int(input("enter value of c"))
if a > b and a > c:
    print("a is greater")
elif b > c:
    print("b is greater")
else:
    print("c is greater")

enter value of a10
enter value of b45
enter value of c15
b is greater

In [13]:
#loops: while,for
# print 1 to n values
n = int(input("enter n value"))
i =1
while i<=n:
    print(i)
    i += 1

enter n value15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [14]:
n = int(input("enter n value"))
i =1
while i<=n:
    print(i)
    i +=

enter n value10
11

## 28-05-2020

In [1]:
pwd

'C:\\Users\\Kiran Kumar\\Desktop\\summer intership\\AI and ML'

### strings
1. " " or ' '(characters)-->'a'
2. immutable --> we cannot any chages
3. collection of characters enclosed by quotation marks --> iterable objects

In [2]:
s1 = "hello"
s2 = 'good aftyernoon'
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [3]:
s1 = input("engter a string:")
s2 = 'good aftyernoon'
print(type(s1),type(s2))

engter a string:hello
<class 'str'> <class 'str'>

In [8]:
#operator : +,*(repition),[](slice)
print(s1+s2)#concatination
print(s1*3)
print(s1[4])
print(s1[2:])

hellogood aftyernoon
hellohellohello
o
llo

In [9]:
print(s1[0:5])
print(s1[:])

hello
hello

In [10]:
#alternate cahractERS of string
print(s1[::2])

hlo

In [13]:
#accept a strinng from the user and check wheather it is a palindrom or not
s3=input("enter the string")
if s3==s3[::-1]:
    print("Pallindrome")
else:
    print("Not Pallindrome")

enter the string1221
Pallindrome

In [17]:
n = int(input("enter a number"))
if str(n) == str(n)[::-1]:
    print("palindrome")
else:
    print("not palindrome")

enter a number121
palindrome

In [22]:
s4 = "python"
print("py" in s4)
print("uuhuhuh" in s4)
print("py" not in s4)
print("uhuhuhu" not in s4)

True
False
False
True

### build in functuons:
1. len() -->lengthof the string
2. max()
3. min()
4. str() -->converting any datatype into string datatype

In [27]:
s = "hello"
s1 = "abc123"
print(len(s))
print(max(s))
print(min(s))
print(max(s1))
print(min(s1))
print(str(s))
print(str(s1))

5
o
e
c
1
hello
abc123

In [28]:
ord('a')

97

In [29]:
chr(97)

'a'

## built in methods
1. capitalized()
2. isalpha()
3. isdigit()
4. isalnum()
5. isupper()
6. islower()
7. upper()
8. lower()
9. swapcase()

In [34]:
s="hello"
print(len(s))
s = s.capitalize()
print(s)

5
Hello

In [39]:
s1="hello"
s2="abc123"
s3="123"
print(s1.isalpha(),s2.isalpha(),s3.isalpha(),sep=",")
print(s1.isdigit(),s2.isdigit(),s3.isdigit(),sep=",")
print(s1.isalnum(),s2.isalnum(),s3.isalnum(),sep=",")

True,False,False
False,False,True
True,True,True

In [41]:
s1="python"
s2="PYTHON"
print(s1.isupper(),s2.isupper())
print(s1.islower(),s2.islower())

False True
True False

In [48]:
s1="python"
s2="ABCD"
print(s1.upper(),s2.lower())
print(s1.lower(),s2.upper())
print(s1.swapcase(),s2.swapcase())

PYTHON abcd
python ABCD
PYTHON abcd

In [49]:
s="PYthON"
print(s.swapcase())

pyTHon

In [50]:
s="abc abc abc"
s.count("abc")

3

In [51]:
#split()
s="abc abc abc"
s.split()

['abc', 'abc', 'abc']

In [53]:
print(s.split())
s1="a,b,c,d"
print(s1.split(","))

['abc', 'abc', 'abc']
['a', 'b', 'c', 'd']

In [59]:
#replace()
s="abc"
s=s.replace('b','z')
print(s)

azc

In [60]:
#accept a number from the user and remove nth position character from the string
n=3
s=abcabc
 output:ababc

In [62]:
n= int(input("enter position"))
s = input("enter a string")
s.replace(s[n-1]," ",1)

enter position3
enter a stringabcabc

'ab abc'

### for loop
1. range() function
2. iterable objects

```for variable_name in range(start,stop,step):
statments```

In [65]:
#print 1-n numbers using forloop
n =10
for i in range(1,n+1):
    print(i,end=" ")
print()

i=1
while i<=n:
    print(i,end=" ")
    i +=1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

```for variable in iterable obj:
statments```

In [71]:
s = "python"
for i in s:
    print(i)
    
s= "uhuhuhu"    #using while loop
i=0    
while i<len(s):
    print(s[i],end=" ")
    i+=1
 

 #using for looop but without iterable object
    for j in range(0,len(s)):
        print(s[j])

p
y
t
h
o
n
u u
h
u
h
u
h
u
h u
h
u
h
u
h
u
u u
h
u
h
u
h
u
h u
h
u
h
u
h
u
u u
h
u
h
u
h
u
h u
h
u
h
u
h
u
u u
h
u
h
u
h
u

1. accept a string from the user and count no of vowels ,consonants and special characters
2. count the noof pairs of a given string
     string-->"abbaaccbbaaa"
     output-->2
3. string-->"((((()()()))))()"
   output-->8

In [74]:
c[i] = "abce1234"
for i in range(0,len(c)):
print(c[i])

IndentationError: expected an indented block (<ipython-input-74-d3046a27d10f>, line 3)